<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<div id="search-contianer" class="container-fluid col-xl-12" >
    <div class="container mx-auto">
        <div class="row justify-content-center" >
            <div class="col-12 col-md-10 col-lg-8" >
                <form class="card card-sm" #f="ngForm" (ngSubmit)="onSubmit()">
                    <div class="card-body row no-gutters align-items-center shadow p-3 bg-white rounded  justify-content-center  special-card">
                        <div class="col-md-6">
                            <input class="form-control my-0 py-1 red-borrde search-box-item" type="search" placeholder="Search topics or keywords" aria-label="Search"
                            name="searchInput"
                            ngModel
                            required>
                        </div>
                            <angular2-multiselect [data]="sources"
                            [settings]="dropdownSettings" 
                            (onSelect)="changeSelection($event)" 
                            (onDeSelect)="changeSelection($event)"
                            (onSelectAll)="changeSelection($event)"
                            (onDeSelectAll)="changeSelection($event)"
                            class="form-control"
                            name="sourceSelection"
                        ngModel></angular2-multiselect>
                        <div class="col-md-1">
                            <button type="submit" [disabled]="f.invalid" class="input-group-text  search-box-item" id="basic-text1"><i class="fas fa-search text-grey"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

