.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }

 .search-box-item {
     height: 50px;
     
 }

 .dropdown-toggle {
     background-color:whitesmoke;
     border:1px solid #ced4da;
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 }

 .form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

#search-button {
    background-color: slategray;
}

#search-contianer {
    margin-top: 10%;
}

#search-bar-box {
    background: rgba(76, 175, 80, 0.3) 
}

.special-card {
    
       background-color:rgba(0, 0, 0, 0.5);
    }

    